.login_container{
    background-image: url('../images/cbm_bg.jpg');
    background-repeat: no-repeat, repeat;
    /* Center the image */
    background-size:contain; /* Resize the background image to cover the entire container */
    padding-top: 50px;
    height: 100vh;
  }
  .login-form_design{
    position: relative;
  }
  .login-form{
    background:rgba(255, 255, 255, -10.5)   ;  /*#1a11117a */
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top:80px !important;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width:60%;
    height: 60%;
    box-shadow: 0px 9px 10px 10px rgb(229 216 216 / 75%);
  }
  .login-form-psw{
    background:rgba(255, 255, 255, -10.5)   ;  /*#1a11117a */
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top:30px !important;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width:60%;
    height: 70%;
    box-shadow: 0px 9px 10px 10px rgb(229 216 216 / 75%);
  }
  .login-heading{
    text-align: center;
    margin-top: 20px;
  }
  .container{
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* background: #09090a4f; */
    border-radius: 50px;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38); */
  }
 
.form_container{
    border: 1px solid #d9dee4;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0px 0px 2px #d9dee4;
}
.picky__dropdown .option input[type="radio"] {
  display: none;
}
.picky__dropdown .option .selected {
  background-color: rgb(8, 8, 65);
}
.picky__dropdown .option.selected, .picky__dropdown li.selected {
  background: #0074D9 !important;
    color: #fff !important;
}
.picky__dropdown-option label {
  pointer-events: none;
}

.table thead th{
  vertical-align: middle !important;
}


th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  
    border-right: none;
  
}

table {
  
  
  border-collapse: collapse;
  border: 1px solid #eee;
  border: 2px solid #00cccc;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}
 
    
      th, td {
        
        border: 1px solid #eee;
        padding: 12px 35px;
        border-collapse: collapse;
      }
      th {
        background: #224580;
        
        text-transform: uppercase;
        font-size: 12px;
      
          
        
      }

      .table td, .table th {
        padding: .45rem;
      }

      @media (min-width: 768px) {
        .action_move {
          margin-left: 10px; /* Margin-left for screens wider than 768px */
        }
        .actiontd{

          width: 210px;
        }
      }
      
      @media (min-width: 992px) {
        .action_move {
          margin-left: 20px; /* Margin-left for screens wider than 992px */
        }
        .actiontd{

          width: 230px;
        }
      }
      
      @media (min-width: 1200px) {
        .action_move {
          margin-left: 25px; /* Margin-left for screens wider than 1200px */
        }
        .actiontd{

          width: 210px;
        }
      }